<section>
 <div class='row'>
   <div class='col-md-10'>
     <div class="col-md-5">
       <%= image_tag(@book.book_cover_url, class: 'img-responsive img-single') if @book.book_cover? %>
     </div>
     <section class='col-md-7'>
       <div class="row">
         <h3 class='title-h3 title-catalog-show' id='book-show'><%= "#{@book.title}" %>'s Details</h3>
       </div>
       <div class="row">
         <p class="details-show-text">
           ISBN: <span><%= @book.isbn %></span>
         </p>
         <p class="details-show-text">
         </p>
       </div>
       <div class="row">
         <p class="details-show-text">
           Price: <span><%= number_to_currency(@book.price) %></span>
         </p>
       </div>
       <div class="row">
         <p class="details-show-text">
           Description: <span><%= @book.description %></span>
         </p>
       </div>
       <div class="row">
         <p class="details-show-text">
           Publisher: <span><%= @book.publisher.name %></span>
         </p>
       </div>
       <div class="row">
         <p class="details-show-text">
           Published at: <span><%= @book.published_at %></span>
         </p>
       </div>
     </section>
     <div class="col-md-2">
       <%= button_to "Add to cart", cart_items_path(book_id: @book.id), remote: true, class: 'btn general-all-button' %>
     </div>
   </div>

 </div>
</section>
