<section>
 <div class='row'>
   <div class='col-md-10'>
     <div class="col-md-5">
       <%= image_tag(@book.book_cover_url, class: 'img-responsive img-single') if @book.book_cover? %>
     </div>
     <section class='col-md-5'>
       <div class="row">
         <h3 class='title-h3' id='book-show'><%= "#{@book.title}" %>'s Details</h3>
       </div>
       <div class="row">
         ISBN:
         <%= @book.isbn %>
       </div>
       <div class="row">
         Price:
         <%= number_to_currency(@book.price) %>
       </div>
       <div class="row">
         Description:
         <%= @book.description %>
       </div>
       <div class="row">
         Publisher:
         <%= @book.publisher.name %>
       </div>
       <div class="row">
         Published at:
         <%= @book.published_at %>
       </div>
     </section>
   </div>
   <div class="col-md-2">
     <%= button_to "Add to cart", cart_items_path(book_id: @book.id), remote: true, class: 'btn btn-add-carts' %>
   </div>
 </div>
</section>
