<section class="row-no-margin">
  <div class="container">
    <h3 class="text-center titles form-titles">Sign in</h3>
      <div class="col-md-6 col-md-offset-3 book-form-container">
        <%= bootstrap_form_tag url: sign_in_path, html: { class: 'new-general-form' } do |f| %>

            <div class='form-group'>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email', hide_label: true %>
            </div>

            <div class='form-group'>
                <%= f.password_field :password, class: 'form-control', placeholder: 'Password', hide_label: true %>
            </div>
            <div class='form-group actions'>
              <%= f.submit "Sign in", class:'btn btn-success' %> Or
              <%= link_to "Sing Up", new_user_path, class: 'sign-up-link' %>
            </div>

            <div class="form-group">
             <div class="col-md-2" id="signup-link">
               Or<br>
               <%= link_to "Sign up", new_user_path %>
             </div>
             <div class="col-md-8">
               <%= link_to "Forgotten Password?", reset_password_path %>
             </div>
           </div>

        <% end %>
      </div>
  </div>
</section>
