<div class="container">
    <div class="col-md-6 col-md-offset-3 book-form-container">
      <%= bootstrap_form_for(@user, html: {class: 'new-general-form' , role: "form"}) do |f| %>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', hide_label: true, placeholder: 'First Name' %>
        </div>

        <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', hide_label: true, placeholder: 'Last Name' %>
        </div>

        <div class="form-group">
            <%= f.email_field :email, class: 'form-control', hide_label: true, placeholder: 'Email' %>
        </div>

        <div class="form-group">
            <%= f.password_field :password, class: 'form-control', hide_label: true, placeholder: 'Password' %>
        </div>

        <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control', hide_label: true, placeholder: 'Confirm Password' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Sign Up', class: 'btn btn-success'%> Or
          <%= link_to "Sing In", sign_in_path, class: 'sign-up-link' %>
        </div>
      <% end %>
    </div>
</div>
