<div class="container order-contanier">
  <div class='row'>
<div class="col-md-8 col-md-offset-2">
  <%= bootstrap_form_for(@order, :html => {:class => "book-form-container", id: "payment-form"}) do |f| %>
      <span class="order-errors"></span>
      <div class="form-group">
          <%= text_field_tag :credit_card_number, nil, name: nil, data: { stripe: 'number' }, class: 'form-control form-general-styles', placeholder: 'Credit Card Number' %>
      </div>
      <div class="form-group">
          <%= text_field_tag :security_code, nil, name: nil, data: { stripe: 'cvc' }, class: 'form-control form-general-styles', placeholder: 'Security Code (CVC)' %>
      </div>
      <div class="form-group">
          <%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control card-select-drop', name: nil, data: {stripe: 'exp-month'}) %>
      </div>
      <div class="form-group">
        <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4},  class: 'form-control card-select-drop', name: nil, data: {stripe: 'exp-year'}) %>
      </div>
      <div class='controls'>
        <%= f.submit class: 'btn general-all-button' %>
      </div>
  <% end %>
</div>
  </div>

</div>
